@charset "UTF-8";
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 100
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 200
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 300
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 400
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: 700
}
@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 100
}
@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 200
}
/*!
 * ress.css • v1.2.2
 * MIT License
 * github.com/filipelinhares/ress
 */

html {
  box-sizing: border-box;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%
}
*, ::after, ::before {
  background-repeat: no-repeat;
  box-sizing: inherit
}
::after, ::before {
  text-decoration: inherit;
  vertical-align: inherit
}
* {
  padding: 0;
  margin: 0
}
audio:not([controls]) {
  display: none;
  height: 0
}
hr {
  overflow: visible
}
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block
}
summary {
  display: list-item
}
small {
  font-size: 80%
}
[hidden], template {
  display: none
}
abbr[title] {
  border-bottom: 1px dotted;
  text-decoration: none
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects
}
a:active, a:hover {
  outline-width: 0
}
code, kbd, pre, samp {
  font-family: monospace, monospace
}
b, strong {
  font-weight: bolder
}
dfn {
  font-style: italic
}
mark {
  background-color: #ff0;
  color: #000
}
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}
sub {
  bottom: -.25em
}
sup {
  top: -.5em
}
ol, ul {
  list-style-type: none
}
input {
  border-radius: 0
}
[role=button], [type=button], [type=reset], [type=submit], button {
  cursor: pointer
}
[disabled] {
  cursor: default
}
[type=number] {
  width: auto
}
[type=search] {
  -webkit-appearance: textfield
}
[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}
textarea {
  overflow: auto;
  resize: vertical
}
button, input, optgroup, select, textarea {
  font: inherit
}
optgroup {
  font-weight: 700
}
button {
  overflow: visible
}
[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: 0;
  padding: 0
}
[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button:-moz-focusring {
  outline: 1px dotted ButtonText
}
[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button
}
button, select {
  text-transform: none
}
button, input, select, textarea {
  background-color: transparent;
  border-style: none;
  color: inherit
}
select {
  -moz-appearance: none;
  -webkit-appearance: none
}
select::-ms-expand {
  display: none
}
select::-ms-value {
  color: currentColor
}
legend {
  border: 0;
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}
img {
  border-style: none
}
progress {
  vertical-align: baseline
}
svg:not(:root) {
  overflow: hidden
}
audio, canvas, progress, video {
  display: inline-block
}
@media screen {
  [hidden~=screen] {
    display: inherit
  }
  [hidden~=screen]:not(:active):not(:focus):not(:target) {
    position: absolute!important;
    clip: rect(0 0 0 0)!important
  }
}
[aria-busy=true] {
  cursor: progress
}
[aria-controls] {
  cursor: pointer
}
[aria-disabled] {
  cursor: default
}
::-moz-selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none
}
::selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none
}
html {
  width: 100%;
  height: 100%;
  font-size: 62.5%
}
html body {
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "游ゴシック","Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #333;
  overflow-x: hidden;
}
html body .l-wrap {
  width: 100%;
  height: auto!important;
  min-height: 100%;
  position: relative;
  overflow: hidden
}
@media screen and (max-width:575px) {
  html body {
    font-size: 1.4rem;
    line-height: 1.4
  }
}
.l-header {
  width: 100%;
  height: 60px;
  text-align: center;
  background: #aaa
}
.l-footer {
  width: 100%;
  height: 200px;
  text-align: center;
  background: #aaa
}
.l-flex-h-left-top {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-items: flex-start
}
.l-flex-h-center-top {
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-items: flex-start
}
.l-flex-h-right-top {
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-items: flex-start
}
.l-flex-h-justify-top {
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-items: flex-start
}
.l-flex-h-around-top {
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-justify-content: space-around;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-items: space-around
}
.l-flex-h-left-middle {
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center
}
.l-flex-h-center-middle {
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center
}
.l-flex-h-right-middle {
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center
}
.l-flex-h-justify-middle {
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center
}
.l-flex-h-around-middle {
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-justify-content: space-around;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center
}
.l-flex-h-left-bottom {
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-align-items: flex-end
}
.l-flex-h-center-bottom {
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-align-items: flex-end
}
.l-flex-h-right-bottom {
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-align-items: flex-end
}
.l-flex-h-justify-bottom {
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-align-items: flex-end
}
.l-flex-h-around-bottom {
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-justify-content: space-around;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-align-items: flex-end
}
.l-flex-h-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap
}
.l-flex-h-nowrap {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap
}
p:not(:last-child) {
  margin: 0 0 15px 0
}
a:hover, a:link {
  text-decoration: none
}
.o-container {
  margin: 0 auto;
  padding: 0 15px
}
@media screen and (min-width:1200px) {
  .o-container {
    max-width: 1200px
  }
}
@media screen and (min-width:992px) and (max-width:1199px) {
  .o-container {
    max-width: 992px
  }
}
@media screen and (min-width:768px) and (max-width:991px) {
  .o-container {
    max-width: 100%
  }
}
@media screen and (min-width:576px) and (max-width:767px) {
  .o-container {
    max-width: 100%
  }
}
@media screen and (max-width:575px) {
  .o-container {
    max-width: 100%
  }
}
.o-page-order .o-section-01 {
  margin: 0 0 45px 0
}
.o-page-order .o-section-01 .o-sect .wrap.first {
  padding: 20px 0
}
.o-page-order .o-section-01 .o-sect .wrap.second .box.first {
  padding: 0 30px 0 0
}
.o-page-order .o-section-01 .o-sect .wrap.second .box.second .lead {
  margin: 0 0 15px 0;
  overflow: hidden;
}
@media screen and (min-width:576px) and (max-width:767px) {
  .o-page-order .o-section-01 .o-sect .wrap.second .box.first {
    padding: 0;
    margin: 0 0 30px 0
  }
}
@media screen and (max-width:575px) {
  .o-page-order .o-section-01 .o-sect .wrap.second .box.first {
    padding: 0;
    margin: 0 0 30px 0
  }
}
@media screen and (max-width:575px) {
  .o-page-order .o-section-01 .o-sect .wrap.first {
    padding: 30px 0
  }
}
.o-page-order .o-section-01 .o-flow-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 0 30px 0
}
.o-page-order .o-section-01 .o-flow-list .item {
  text-align: center;
  background: #333957;
  color: #fff;
  position: relative;
  height: 100px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 15px 0 30px
}
.o-page-order .o-section-01 .o-flow-list .item::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-right: 0 solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 30px solid #333957;
  position: absolute;
  left: 100%;
  top: 0
}
.o-page-order .o-section-01 .o-flow-list .item:nth-child(2) {
  margin: 0 30px
}
.o-page-order .o-section-01 .o-flow-list .item .cap {
  font-size: 1.4rem;
  font-weight: 700
}
.o-page-order .o-section-01 .o-flow-list .item .lead {
  font-size: 1.8rem
}
.o-page-order .o-section-01 .o-flow-list .item br {
  display: none
}
@media screen and (min-width:768px) and (max-width:991px) {
  .o-page-order .o-section-01 .o-flow-list .item {
    padding: 0 10px 0 15px
  }
}
@media screen and (min-width:576px) and (max-width:767px) {
  .o-page-order .o-section-01 .o-flow-list .item {
    padding: 0 30px
  }
  .o-page-order .o-section-01 .o-flow-list .item::after {
    border-left: 15px solid #333957
  }
  .o-page-order .o-section-01 .o-flow-list .item:nth-child(2) {
    margin: 0 15px
  }
  .o-page-order .o-section-01 .o-flow-list .item br {
    display: block
  }
}
@media screen and (max-width:575px) {
  .o-page-order .o-section-01 .o-flow-list .item {
    padding: 0 0 0 10px;
    height: 80px
  }
  .o-page-order .o-section-01 .o-flow-list .item::after {
    border-left: 15px solid #333957;
    border-top: 40px solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 40px solid transparent
  }
  .o-page-order .o-section-01 .o-flow-list .item:nth-child(2) {
    margin: 0 15px
  }
  .o-page-order .o-section-01 .o-flow-list .item .cap {
    font-size: 1rem
  }
  .o-page-order .o-section-01 .o-flow-list .item .lead {
    font-size: 1.2rem
  }
  .o-page-order .o-section-01 .o-flow-list .item br {
    display: block
  }
}
.o-page-order .o-section-01 .o-order-help {
  text-align: center
}
.o-page-order .o-section-01 .o-order-help .link {
  font-size: 1.4rem;
  font-weight: 700;
  position: relative;
  color: #333;
  padding: 0 0 0 25px
}
.o-page-order .o-section-01 .o-order-help .link::before {
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid #333;
  display: inline-block;
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: calc(50% - 10px)
}
.o-page-order .o-section-01 .o-order-help .link::after {
  content: "？";
  position: absolute;
  left: 4px;
  top: -2px;
  font-size: 1.2rem
}
@media screen and (max-width:575px) {
  .o-page-order .o-section-01 .o-order-help .link::after {
    top: 0
  }
}
.o-page-order .o-section-01 .o-overview-layout {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}
.o-page-order .o-section-01 .o-overview-layout .o-img-overview-area {
  border: 1px solid #e8e8e8;
  position: relative;
  margin: 0 0 15px 0
}
.o-page-order .o-section-01 .o-overview-layout .o-img-overview-area::before {
  content: "";
  display: block;
  padding-top: 85%
}
.o-page-order .o-section-01 .o-overview-layout .o-img-overview-area img {
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0
}
.o-page-order .o-section-01 .o-overview-layout .first {
  -webkit-flex-basis: calc(100% - 430px);
  -ms-flex-preferred-size: calc(100% - 430px);
  flex-basis: calc(100% - 430px);
  max-width: calc(100% - 430px)
}
.o-page-order .o-section-01 .o-overview-layout .second {
  -webkit-flex-basis: 430px;
  -ms-flex-preferred-size: 430px;
  flex-basis: 430px;
  max-width: 430px
}
@media screen and (min-width:768px) and (max-width:991px) {
  .o-page-order .o-section-01 .o-overview-layout .first {
    -webkit-flex-basis: calc(100% - 350px);
    -ms-flex-preferred-size: calc(100% - 350px);
    flex-basis: calc(100% - 350px);
    max-width: calc(100% - 350px)
  }
  .o-page-order .o-section-01 .o-overview-layout .second {
    -webkit-flex-basis: 350px;
    -ms-flex-preferred-size: 350px;
    flex-basis: 350px;
    max-width: 350px
  }
}
@media screen and (min-width:576px) and (max-width:767px) {
  .o-page-order .o-section-01 .o-overview-layout .first {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%
  }
  .o-page-order .o-section-01 .o-overview-layout .second {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%
  }
}
@media screen and (max-width:575px) {
  .o-page-order .o-section-01 .o-overview-layout .first {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%
  }
  .o-page-order .o-section-01 .o-overview-layout .second {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%
  }
}
.o-page-order .o-section-01 .o-head-item-name .cap {
  display: block;
  font-size: 1.2rem;
  border-top: 1px solid #c6c095;
  border-bottom: 1px solid #c6c095;
  padding: 1px 0;
  text-align: center;
  color: #837a49;
  margin: 0 0 10px 0
}
.o-page-order .o-section-01 .o-head-item-name .name {
  font-size: 2.4rem
}
.o-page-order .o-section-01 .o-link-itemlist {
  text-align: right;
  margin: 0 0 60px 0
}
.o-page-order .o-section-01 .o-link-itemlist+.lead {
  font-weight: 400
}
.o-page-order .o-section-01 .o-select-parts-input {
  position: relative;
  display: inline-block;
  width: 100%;
  background: #fff;
  border: 1px solid #b5bdd1;
  margin: 0 0 30px 0
}
.o-page-order .o-section-01 .o-select-parts-input::before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  background: #fff;
  height: 100%;
  width: 20px
}
.o-page-order .o-section-01 .o-select-parts-input::after {
  content: "";
  position: absolute;
  z-index: 0;
  top: 6px;
  bottom: 0;
  margin: auto 0;
  right: 9px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top-color: #8c99b7
}
.o-page-order .o-section-01 .o-select-parts-input select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  background: 0 0;
  position: relative;
  z-index: 1;
  padding: 5px 20px 5px 5px;
  border: none;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 700;
  color: #333957
}
.o-page-order .o-section-01 .o-select-parts-output .o-select-parts-output-cont .list {
  display: block;
  overflow: hidden;
}
.o-page-order .o-section-01 .o-select-parts-output .o-select-parts-output-cont .list .item {
  box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
  margin: 0 0 10px 0;
  overflow: hidden;
  border-radius: 10px;
  float: left;
  width: 23%;
  box-sizing: border-box;
  margin-right: 2.6%;
}
.o-page-order .o-section-01 .o-select-parts-output .o-select-parts-output-cont .list .item:nth-child(4n) {
  margin-right: 0;
}
.o-page-order .o-section-01 .o-select-parts-output .o-select-parts-output-cont .list .o-select-parts-output-cont-box {
  position: relative
}
.o-page-order .o-section-01 .o-select-parts-output .o-select-parts-output-cont .list .o-select-parts-output-cont-box .o-select-parts-output-cont-thumb img {
  width: 100%;
  height: auto;
  vertical-align: bottom
}
.o-page-order .o-section-01 .o-select-parts-output .o-select-parts-output-cont .list .o-select-parts-output-cont-box .o-select-parts-output-cont-name {
  position: absolute;
  background: #212121;
  color: #fff;
  left: 0;
  bottom: 0;
  font-size: 1rem;
  padding: 2px 0;
  font-weight: 700;
  width: 100%;
  text-align: center
}
@media screen and (max-width:575px) {
  .o-page-order .o-section-01 .o-select-parts-output .o-select-parts-output-cont .list {
    -ms-grid-columns: (calc(33.3333% - 6.6666px))[3];
    grid-template-columns: repeat(3, calc(33.3333% - 6.6666px))
  }
}
.o-page-order .o-section-02 .o-sect .wrap.first .head .txt {
  font-size: 1.6rem
}
.o-page-order .o-section-02 .o-sect .wrap.second {
  margin: 0 0 30px;
}
.o-page-order .o-section-02 .o-sect .wrap.third {
  margin: 0 0 60px;
  text-align: center
}
.o-page-order .o-section-02 .o-list-parts-meta {
  margin: 5px -1% 0;
  padding-top: 5px;
}
.o-page-order .o-section-02 .o-list-parts-meta:after {
  content: " ";
  display: block;
  width: 100%;
  height: 1px;
  clear: both;
}
.o-page-order .o-section-02 .o-list-parts-meta .item {
  text-align: center;
  margin: 0 0.7% 13px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
  padding: 5px;
  box-sizing: border-box;
  width: 11.1%;
  float: left;
}
.o-page-order .o-section-02 .o-list-parts-meta .item .o-list-parts-meta-thumb .o-list-parts-meta-img {
  display: none;
  vertical-align: bottom;
  max-width: 100%;
  height: auto
}
.o-page-order .o-section-02 .o-list-parts-meta .item .o-list-parts-meta-thumb .o-list-parts-meta-img.selected {
  display: inline;
  border-radius: 100%
}
.o-page-order .o-section-02 .o-list-parts-meta .item .o-list-parts-meta-thumb .o-list-parts-meta-img.selected+.o-list-parts-meta-notice {
  display: none
}
.o-page-order .o-section-02 .o-list-parts-meta .item .o-list-parts-meta-name {
  border-top: 2px solid #e8e8e8;
  margin: 5px 0 0;
  color: #333957;
  font-size: 12px;
  line-height: 1.5;
  height: 1.5em;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}
.o-page-order .o-section-02 .o-list-parts-meta .item .o-list-parts-meta-notice {
  font-size: 1rem;
  font-weight: 700;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #8b0000;
  min-height: 100px
}
.o-page-order .o-section-02 .o-list-parts-meta .item .o-list-parts-meta-btn {
  width: 16px;
  height: 20px;
  margin: 5px auto 0 auto;
  display: block
}
@media screen and (min-width:768px) and (max-width:991px) {
  .o-page-order .o-section-02 .o-list-parts-meta {
    -ms-grid-columns: (calc(20% - 8.3333px))[5];
    grid-template-columns: repeat(5, calc(20% - 8.3333px))
  }
}
@media screen and (min-width:576px) and (max-width:767px) {
  .o-page-order .o-section-02 .o-list-parts-meta {
    -ms-grid-columns: (calc(25% - 7.5px))[4];
    grid-template-columns: repeat(4, calc(25% - 7.5px))
  }
}
@media screen and (max-width:575px) {
  .o-page-order .o-section-02 .o-list-parts-meta {
    -ms-grid-columns: (calc(50% - 5px))[2];
    grid-template-columns: repeat(2, calc(50% - 5px))
  }
}
.o-page-order .o-aside-info .head {
  background: #333957;
  color: #fff;
  padding: 15px;
  text-align: center
}
.o-page-order .o-aside-info .list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}
.o-page-order .o-aside-info .list .item {
  -webkit-flex-basis: 25%;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%;
  min-height: 200px
}
.o-page-order .o-aside-info .list .item .txt {
  padding: 30px 0 0 0;
  text-align: center
}
.o-page-order .o-aside-info .o-sitemap-customorder {
  padding: 15px;
  background: #f7f5e5;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}
.o-page-order .o-aside-info .o-sitemap-customorder .item {
  padding: 0 15px
}
.o-page-order .o-aside-info .o-sitemap-customorder .item:not(:first-child) {
  border-left: 1px solid #c6c095
}
.o-page-order .o-aside-info .o-sitemap-customorder .item a {
  color: #3d371a;
  font-size: 1.4rem;
  font-weight: 700
}
@media screen and (min-width:576px) and (max-width:767px) {
  .o-page-order .o-aside-info .o-sitemap-customorder {
    padding: 0
  }
  .o-page-order .o-aside-info .o-sitemap-customorder .item {
    width: 50%;
    padding: 5px;
    text-align: center
  }
  .o-page-order .o-aside-info .o-sitemap-customorder .item:not(:first-child) {
    border-left: none
  }
  .o-page-order .o-aside-info .o-sitemap-customorder .item:nth-child(1) {
    border-right: 1px solid #c6c095;
    border-bottom: 1px solid #c6c095
  }
  .o-page-order .o-aside-info .o-sitemap-customorder .item:nth-child(2) {
    border-bottom: 1px solid #c6c095
  }
  .o-page-order .o-aside-info .o-sitemap-customorder .item:nth-child(3) {
    border-right: 1px solid #c6c095
  }
}
@media screen and (max-width:575px) {
  .o-page-order .o-aside-info .o-sitemap-customorder {
    padding: 0
  }
  .o-page-order .o-aside-info .o-sitemap-customorder .item {
    width: 50%;
    padding: 10px;
    text-align: center
  }
  .o-page-order .o-aside-info .o-sitemap-customorder .item:not(:first-child) {
    border-left: none
  }
  .o-page-order .o-aside-info .o-sitemap-customorder .item:nth-child(1) {
    border-right: 1px solid #c6c095;
    border-bottom: 1px solid #c6c095
  }
  .o-page-order .o-aside-info .o-sitemap-customorder .item:nth-child(2) {
    border-bottom: 1px solid #c6c095
  }
  .o-page-order .o-aside-info .o-sitemap-customorder .item:nth-child(3) {
    border-right: 1px solid #c6c095
  }
  .o-page-order .o-aside-info .o-sitemap-customorder .item a {
    font-size: 1rem
  }
}
.o-head-copy-l {
  margin: 0 0 15px 0;
  padding: 0 0 10px 0;
  border-bottom: 5px solid #e8e8e8
}
.o-btn-default-s {
  background: #6a533d;
  color: #fff;
  padding: 4px 12px;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 5px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, .3)
}
.o-btn-default {
  background: #6a533d;
  color: #fff;
  padding: 15px 30px;
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 5px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, .3)
}